<select class="chzn-select" title="ইউনিয়ন নির্বাচন করতে এখানে ক্লিক করুন">
    <option value="-"></option>
    <option value="http://bishnapurup.chandpur.gov.bd">বিষ্ণপুর </option>
    <option value="http://ashikatiup.chandpur.gov.bd">আশিকাটি </option>
    
    <option value="http://shahmahmudpurup.chandpur.gov.bd">শাহ্&zwnj; মাহমুদপুর</option>
    
    <option value="http://kalyanpurup.chandpur.gov.bd">কল্যাণপুর </option>
    
    <option value="http://rampurup.chandpur.gov.bd">রামপুর </option>
    
    <option value="http://maishadiup.chandpur.gov.bd">মৈশাদী </option>
    <option value="http://tarpurchandiup.chandpur.gov.bd">তরপুচন্ডী </option>
    <option value="http://baghadiup.chandpur.gov.bd">বাগাদী </option>
    <option value="http://laxmipurmodelup.chandpur.gov.bd">লক্ষীপুর মডেল </option>
    <option value="http://hanarcharup.chandpur.gov.bd">হানারচর </option>
    <option value="http://chandraup.chandpur.gov.bd">চান্দ্রা </option>
    <option value="http://rajrajeshwarup.chandpur.gov.bd">রাজরাজেশ্বর </option>
    <option value="http://ibrahimpurup.chandpur.gov.bd">ইব্রাহীমপুর </option>
    <option value="http://baliaup.chandpur.gov.bd">বালিয়া </option>
</select>